*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'roboto';
}
.index-header{
    padding: 0;
    margin: 0;
    color: white;
    background-color: rgb(31, 31, 31);
    display: grid;
    font-size: 3vw;
    grid-template-columns: max-content auto max-content max-content;
    align-items:center;
}
.index-header h2{
    font-weight: 900;
    padding: 1em;
    margin: 0;
}
.index-header h3{
    margin: 0;
    padding: 1em;
}
.index-header img{
    background-color: white;
    width: 3em;
    margin-left: 1em;
}
@media (min-width:715px){
    .index-header{
        font-size: 1rem;
    }
}