html, body {
    margin: 0;
    padding: 0;
}
body{
    background-color:#C6C6C6; 
}
/* TOP */
header{
    background-color:#FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    margin-bottom: 2px ;
}

.logo-img{
    height: 67px;
}
.avatar{
    height:37px;
    border-radius: 50%;
    padding: 10px;
}
/* //IN SECTIONS */
section{
    background-color:#FFF;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.container{
    width: 500px;
    margin: 0 auto;
}

.creator{
    padding-top: 5px;
    display: flex;
    align-items: center;
}
.detail p{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
}
.bold{
    font-weight: bolder;
}
.post{
    width: 100%;
}
/* comments */
.icons{
    width: 27px;
    margin-left:10px;
    margin-top: 5px;
}
.comment{
    margin: 10px 10px;
}
